.row
  .large-12.columns

    %p
      %b Name:
      = @proof.name
      %br= link_to "Go back to parent subtopic", @subtopic
    %p
      %b Video:
      .center
        =raw YouTubeAddy.youtube_embed_url(@proof.video_link,853,480)
    %p
    %hr
      %b Content:
      .proof
        =raw @proof.content

    = link_to 'Edit', edit_subtopic_proof_path(@subtopic, @proof)
    \|
    = link_to 'Back', subtopic_proofs_path
