// Place all the styles related to the proofs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.proof{
  
  padding:60px 40px;
  border:1px solid black;
  
  td {
    padding:0px;
  }
}