// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.subtopic-area{
  padding:20px;
  background-color:#DDD;
  border-radius:5px;
}